@import "reset.scss";

body {
    font: var(--font-m);
}

#app {
    min-height: 100vh;
}

.main-wrapper {
    min-height: calc(100vh - 36px);
}

#root {
    width: 100%;
    height: calc(100vh - 36px);
}

.menu {
    display: flex;
    align-items: center;
    height: 36px;

    li {
        list-style: none;
        background-image: none;
        background-position: 0;
    }
}

.menuItem {
    padding: 5px;
    &::marker{
        display: none;
    }
    a {
        text-decoration: none;
        color: #5D54A4;
    }
}
