#root {
    --font-family-main: inter, serif;
    --font-size-m: 16px;
    --font-line-m: 24px;
    --font-m: var(--font-size-m) / var(--font-line-m) var(--font-family-main);

    // colors
    --primary-color: #5D54A4;
    --primary-grey: #999;
    --secondary-grey: #9f9f9f;
    --bacground-white: #efefef;
    --border-white: #EAEAEA;
    --error-primary: #F00;
}
