.wrapper {
  display: flex;
  height: 100vh;
  min-height: 600px;
  justify-content: space-between;
  align-items: center;
}

.userAvatar {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  background: var(--bacground-white);
  margin-bottom: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.userName {
  color: #1E1E1E;
  text-align: center;
  font-weight: 700;
}

.profileWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px 20px 20px;
  width: calc(100vw - 64px);
  height: 100%;
}

.profileFieldsWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px 20px 20px;
  width: 100%;
}

.profileFields {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 36rem;
  margin: 0 auto;
  padding-top: 50px;
}

.profileField {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 0;
  font-size: 13px;
  width: 100%;

  &Label {
    padding-right: 16px;
  }

  &Value {
    color: var(--primary-grey);
  }

  a {
    text-decoration: none;
    color: var(--primary-color);
  }

  &:not(&:last-child) {
    border-bottom: 1px solid var(--border-white);
  }
  &:last-child {
    a {
      color: var(--error-primary);
    }
  }
}


.goBackBtn {
  width: 64px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  &:before {
    content: '';
    width: 28px;
    height: 28px;
    border-radius: 50% 50%;
    background: url('../../../static/Group 202.svg');
  }
  &:hover {
    background-color: var(--primary-color);
  }
}
