.wrapper {
  display: flex;
  height: 100vh;
  min-height: 600px;
  justify-content: space-between;
  align-items: center;
}

.user {
  &Avatar {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background: #EFEFEF;
    margin-bottom: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    cursor: pointer;
    position: relative;
  }

  &Name {
    color: #1E1E1E;
    text-align: center;
    font-weight: 700;
  }
}

.profileWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: calc(100vw - 64px);
  height: 100%;
}

.profileFieldsWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.profileFields {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 36rem;
  margin: 0 auto;
  padding-top: 50px;
}

.profileField {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 0;
  font-size: 13px;
  width: 100%;

  &Label {
    padding-right: 16px;
  }

  &Value {
    color: #999;
    border: none;
    padding: 8px 0;
    &:focus {
      outline: none;
      border-bottom: 1px solid #5D54A4;
    }
  }

  a {
    text-decoration: none;
    color: #5D54A4;
  }

  &:not(&:last-child) {
    border-bottom: 1px solid #EAEAEA;
  }
  &:last-child {
    a {
      color: #FF0000;
    }
  }
}


.goBackBtn {
  width: 64px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  &:before {
    content: '';
    width: 28px;
    height: 28px;
    border-radius: 50% 50%;
    background: url('../../../static/Group 202.svg');
  }
  &:hover {
    background-color: #5D54A4;
  }
}

.saveBtn {
  width: 60%;
  cursor: pointer;
  padding: 8px 24px;
  margin: auto;
  border-radius: 20px;
  font-size: 16px;
  color: #fff;
  background: #5D54A4;
  border: 1px solid #5D54A4;
  transition: ease-in-out 0.4s;

  &:hover {
    background: #fff;
    color: #5D54A4;
  }
  &:last-child {
    padding-top: 24px;
    background: none;
    border: none;
    color: #FF0000;
  }
}
